<div class="core-data-grid-option-filter">
    <div class="form-group">
        Include:
        <div class="form-check option-container">
            <div *ngFor="let option of options">
                <label class="form-check-label">
                    <input class="form-check-input"
                           type="checkbox"
                           [ngModel]="isIncluded(option.value)"
                           (ngModelChange)="include(option.value, $event)" />
                    {{option.description}}
                </label>
            </div>
        </div>
    </div>
    <div class="pull-right btn-group" role="group">
        <button class="btn btn-primary" (click)="applyFilter()">Apply</button>
        <button class="btn btn-danger" (click)="clearFilter()">Clear</button>
        <button class="btn btn-secondary" (click)="closeFilterEditor()">Cancel</button>
    </div>
</div>