<div class="card core-collapsible-panel" [ngClass]="_outlineClass">
    <div class="card-header" [ngClass]="_headerClass">
        <a href="#" (click)=toggle()>
            <span class="title-icon fa"
                  [class.fa-chevron-circle-right]="!isOpen"
                  [class.fa-chevron-circle-down]="isOpen"></span>{{title}}
        </a>
    </div>
    <div class="card-block" *ngIf="isOpen">
        <div class="card-text">
            <ng-content></ng-content>
        </div>
    </div>
</div>