<table class="table table-bordered table-striped table-hover core-data-grid">
    <thead>
        <tr>
            <th *ngFor="let column of columns">
                <a class="column-header"
                   [attr.href]="column.isSortable"
                   [class.disabled]="!column.isSortable"
                   (click)="sortBy(column)">{{column.headerName}}</a>
                <div class="pull-right">
                    <a href
                       class="data-grid-filter-icon"
                       (click)="showFilterEditor(filterPopup)"
                       *ngIf="column.filter"
                       [ngbPopover]="filterContent"
                       popoverTitle="Filter"
                       placement="bottom"
                       #filterPopup="ngbPopover"
                       triggers="manual">
                        <span class="fa fa-filter" [class.filtered]="isFiltered(column)"></span>
                        <template #filterContent>
                            <core-data-grid-contains-filter *ngIf="column.filter === 'contains'"
                                                            [model]="getModel(column)"
                                                            (filterApplied)="applyFilter(column, true, filterPopup)"
                                                            (filterCleared)="applyFilter(column, false, filterPopup)"
                                                            (filterEditorClosed)="closeFilterEditor(filterPopup)">
                            </core-data-grid-contains-filter>
                            <core-data-grid-starts-with-filter *ngIf="column.filter === 'startsWith'"
                                                               [model]="getModel(column)"
                                                               (filterApplied)="applyFilter(column, true, filterPopup)"
                                                               (filterCleared)="applyFilter(column, false, filterPopup)"
                                                               (filterEditorClosed)="closeFilterEditor(filterPopup)">
                            </core-data-grid-starts-with-filter>
                            <core-data-grid-ends-with-filter *ngIf="column.filter === 'endsWith'"
                                                             [model]="getModel(column)"
                                                             (filterApplied)="applyFilter(column, true, filterPopup)"
                                                             (filterCleared)="applyFilter(column, false, filterPopup)"
                                                             (filterEditorClosed)="closeFilterEditor(filterPopup)">
                            </core-data-grid-ends-with-filter>
                            <core-data-grid-number-range-filter *ngIf="column.filter === 'numberRange'"
                                                                [model]="getModel(column)"
                                                                (filterApplied)="applyFilter(column, true, filterPopup)"
                                                                (filterCleared)="applyFilter(column, false, filterPopup)"
                                                                (filterEditorClosed)="closeFilterEditor(filterPopup)">
                            </core-data-grid-number-range-filter>
                            <core-data-grid-date-range-filter *ngIf="column.filter === 'dateRange'"
                                                              [model]="getModel(column)"
                                                              (filterApplied)="applyFilter(column, true, filterPopup)"
                                                              (filterCleared)="applyFilter(column, false, filterPopup)"
                                                              (filterEditorClosed)="closeFilterEditor(filterPopup)">
                            </core-data-grid-date-range-filter>
                            <core-data-grid-boolean-filter *ngIf="column.filter === 'boolean'"
                                                           [model]="getModel(column)"
                                                           (filterApplied)="applyFilter(column, true, filterPopup)"
                                                           (filterCleared)="applyFilter(column, false, filterPopup)"
                                                           (filterEditorClosed)="closeFilterEditor(filterPopup)">
                            </core-data-grid-boolean-filter>
                            <core-data-grid-option-filter *ngIf="column.filter === 'option'"
                                                          [model]="getModel(column)"
                                                          [options]="column.options"
                                                          (filterApplied)="applyFilter(column, true, filterPopup)"
                                                          (filterCleared)="applyFilter(column, false, filterPopup)"
                                                          (filterEditorClosed)="closeFilterEditor(filterPopup)">
                            </core-data-grid-option-filter>
                        </template>
                    </a>
                    <a href class="data-grid-sort-icon" (click)="sortBy(column)" *ngIf="column.isSortable">
                        <span class="fa"
                              [class.fa-sort]="column.fieldName !== sortField"
                              [class.fa-sort-asc]="column.fieldName === sortField && !isSortDescending"
                              [class.fa-sort-desc]="column.fieldName === sortField && isSortDescending"></span>
                    </a>
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr scope="row"
            *ngFor="let row of filteredData | orderBy: sortField : isSortDescending | pageBy: pageSize : page : isServerSide">
            <td *ngFor="let column of columns">
                <span *ngIf="column.contentTemplate?.template === null">{{ getValue(row, column) }}</span>
                <template *ngIf="column.contentTemplate?.template !== null"
                          [ngTemplateOutlet]="column.contentTemplate?.template"
                          [ngOutletContext]="{ column: column, record: row, value: getValue(row, column) }"></template>
            </td>
        </tr>
        <tr *ngIf="filteredData.length === 0">
            <td [attr.colspan]="columns.length">
                <em class="no-data-message">There is no data to display.</em>
            </td>
        </tr>
    </tbody>
</table>
<div class="row">
    <div class="col">
        <ngb-pagination *ngIf="data && pageSize !== null && totalLength > pageSize"
                        [ellipses]="true"
                        [maxSize]="10"
                        [boundaryLinks]="true"
                        [directionLinks]="true"
                        [collectionSize]="totalLength"
                        [page]="page"
                        [pageSize]="pageSize"
                        (pageChange)="changePage($event)"></ngb-pagination>
    </div>
    <div class="col-2">
        <div class="form-inline">
            <label class="mr-2">Page Size:</label>
            <select class="form-control" [ngModel]="pageSize" (ngModelChange)="changePageSize($event)">
                <option *ngFor="let pageSizeOption of pageSizes" [ngValue]="pageSizeOption">
                    {{pageSizeOption}}
                </option>
            </select>
        </div>
    </div>
    <div class="col">
        <div class="pull-right">
            Total: <span class="badge badge-pill badge-default">{{totalLength}}</span>
        </div>
    </div>
</div>
