<core-data-grid (onInit)="getClientSideData($event)" [pageSize]="5" [pageSizes]="[5, 10, 25, 50]">
    <core-data-grid-column headerName="First Name"
                           fieldName="firstName"
                           [isSortable]="true"
                           filter="contains"></core-data-grid-column>
    <core-data-grid-column headerName="Last Name"
                           fieldName="lastName"
                           [isSortable]="true"
                           filter="contains"></core-data-grid-column>
    <core-data-grid-column headerName="Email"
                           fieldName="email"
                           [isSortable]="true"
                           filter="startsWith"></core-data-grid-column>
    <core-data-grid-column headerName="Phone"
                           fieldName="phone"
                           [isSortable]="true"
                           filter="contains"></core-data-grid-column>
    <core-data-grid-column headerName="Rate"
                           fieldName="rate"
                           [isSortable]="true"
                           filter="numberRange"
                           currencyFormat="USD"></core-data-grid-column>
    <core-data-grid-column headerName="Pet"
                           fieldName="pet"
                           [isSortable]="true"
                           filter="option"
                           [options]="petOptions">
        <template columnContent let-petValue="value">
            {{getPetDescription(petValue)}}
        </template>
    </core-data-grid-column>
    <core-data-grid-column headerName="Created On"
                           fieldName="createdOn"
                           [isSortable]="true"
                           filter="dateRange"
                           dateFormat="MM/dd/yyyy"></core-data-grid-column>
    <core-data-grid-column headerName="Active?"
                           fieldName="isActive"
                           [isSortable]="true"
                           filter="boolean">
        <template columnContent let-isActive="value">
            <input name="chkIsActive" type="checkbox" [ngModel]="isActive" disabled />
        </template>
    </core-data-grid-column>
</core-data-grid>
<div class="row">
    <div class="col-2">
        <button class="btn btn-primary" (click)="export()">Export</button>
        <button class="btn btn-warning" (click)="reset()">Reset</button>
    </div>
    <div class="col">
    </div>
</div>
<div class="row" [style.visibility]="exported ? 'visible' : 'hidden'">
    <div class="col">
        <core-collapsible-panel #exportPanel title="Exported Data">
            <pre>{{exported | json}}</pre>
        </core-collapsible-panel>
    </div>
</div>
<core-collapsible-panel title="Server-side Paging">
    <core-data-grid [isServerSide]="true"
                    [pageSize]="5"
                    [pageSizes]="[5, 10, 25, 50]"
                    (dataRequested)="getServerData($event)">
        <core-data-grid-column headerName="First Name" fieldName="firstName"></core-data-grid-column>
        <core-data-grid-column headerName="Last Name" fieldName="lastName"></core-data-grid-column>
        <core-data-grid-column headerName="Email" fieldName="email"></core-data-grid-column>
        <core-data-grid-column headerName="Phone" fieldName="phone"></core-data-grid-column>
        <core-data-grid-column headerName="Rate" fieldName="rate" currencyFormat="USD"></core-data-grid-column>
        <core-data-grid-column headerName="Created On" fieldName="createdOn" dateFormat="MM/dd/yyyy"></core-data-grid-column>
        <core-data-grid-column headerName="Active?" fieldName="isActive"></core-data-grid-column>
    </core-data-grid>
</core-collapsible-panel>