<core-data-grid (onInit)="getData($event)" [pageSize]="5" [pageSizes]="[5, 10, 25, 50]">
    <core-data-grid-column headerName="First Name"
                           bind="firstName"
                           isSortable="true"
                           filter="contains"></core-data-grid-column>
    <core-data-grid-column headerName="Last Name"
                           bind="lastName"
                           isSortable="true"
                           filter="contains"></core-data-grid-column>
    <core-data-grid-column headerName="Email"
                           bind="email"
                           isSortable="true"
                           filter="startsWith"></core-data-grid-column>
    <core-data-grid-column headerName="Phone"
                           bind="phone"
                           isSortable="true"
                           filter="contains"></core-data-grid-column>
    <core-data-grid-column headerName="Rate"
                           bind="rate"
                           isSortable="true"
                           filter="numberRange"
                           currencyFormat="USD"></core-data-grid-column>
    <core-data-grid-column headerName="Created On"
                           bind="createdOn"
                           isSortable="true"
                           filter="dateRange"
                           dateFormat="MM/dd/yyyy"></core-data-grid-column>
    <core-data-grid-column headerName="Active?"
                           bind="isActive"
                           isSortable="true"
                           filter="boolean"></core-data-grid-column>
</core-data-grid>
<div class="row">
    <div class="col">
        <button class="btn btn-warning" (click)="reset()">Reset</button>
    </div>
</div>