<core-data-grid (onInit)="getClientSideData($event)" [pageSize]="5" [pageSizes]="[5, 10, 25, 50]">
    <core-data-grid-column headerName="First Name"
                           bind="firstName"
                           [isSortable]="true"
                           filter="contains"></core-data-grid-column>
    <core-data-grid-column headerName="Last Name"
                           bind="lastName"
                           [isSortable]="true"
                           filter="contains"></core-data-grid-column>
    <core-data-grid-column headerName="Email"
                           bind="email"
                           [isSortable]="true"
                           filter="startsWith"></core-data-grid-column>
    <core-data-grid-column headerName="Phone"
                           bind="phone"
                           [isSortable]="true"
                           filter="contains"></core-data-grid-column>
    <core-data-grid-column headerName="Rate"
                           bind="rate"
                           [isSortable]="true"
                           filter="numberRange"
                           currencyFormat="USD"></core-data-grid-column>
    <core-data-grid-column headerName="Pet"
                           bind="pet"
                           [isSortable]="true"
                           filter="option"
                           [options]="petOptions">
        <template columnContent let-petValue="value">
            {{getPetDescription(petValue)}}
        </template>
    </core-data-grid-column>
    <core-data-grid-column headerName="Created On"
                           bind="createdOn"
                           [isSortable]="true"
                           filter="dateRange"
                           dateFormat="MM/dd/yyyy"></core-data-grid-column>
    <core-data-grid-column headerName="Active?"
                           bind="isActive"
                           [isSortable]="true"
                           filter="boolean">
        <template columnContent let-isActive="value">
            <input name="chkIsActive" type="checkbox" [ngModel]="isActive" disabled />
        </template>
    </core-data-grid-column>
</core-data-grid>
<div class="row">
    <div class="col">
        <button class="btn btn-warning" (click)="reset()">Reset</button>
    </div>
</div>
<core-collapsible-panel title="Server-side Paging">
    <core-data-grid [isServerSide]="true"
                    [pageSize]="5"
                    [pageSizes]="[5, 10, 25, 50]"
                    (dataRequested)="getServerData($event)">
        <core-data-grid-column headerName="First Name" bind="firstName"></core-data-grid-column>
        <core-data-grid-column headerName="Last Name" bind="lastName"></core-data-grid-column>
        <core-data-grid-column headerName="Email" bind="email"></core-data-grid-column>
        <core-data-grid-column headerName="Phone" bind="phone"></core-data-grid-column>
        <core-data-grid-column headerName="Rate" bind="rate" currencyFormat="USD"></core-data-grid-column>
        <core-data-grid-column headerName="Created On" bind="createdOn" dateFormat="MM/dd/yyyy"></core-data-grid-column>
        <core-data-grid-column headerName="Active?" bind="isActive"></core-data-grid-column>
    </core-data-grid>
</core-collapsible-panel>