<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="btn-group" role="group">
                <a class="btn btn-primary" [routerLink]="['home']">Home</a>
                <a class="btn btn-primary" [routerLink]="['panel-demo']">Panel</a>
                <a class="btn btn-primary" [routerLink]="['collapsible-panel-demo']">Collapsible Panel</a>
                <a class="btn btn-primary" [routerLink]="['date-picker-demo']">Date Picker</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>