<form #frmTop="ngForm" name="frmTop" novalidate>
    <div *ngIf="isDataLoaded" class="form-demo">

        <div class="sticky-top page-header mb-2">
            <nav class="navbar navbar-inverse bg-primary">
                <div class="row">
                    <div class="col-xs-12 col-lg">
                        <span class="navbar-brand page-title">Account Approval Request - {{account.name}}</span>
                    </div>
                    <div class="col-xs-12 col-lg">
                        <div class="float-lg-right">
                            <button class="btn btn-success" (click)="submit()">Submit</button>
                            <button class="btn btn-warning" (click)="reset()">Reset</button>
                            <div class="form-check-inline text-white">
                                <label class="form-check-label">
                                    <input name="chkError" class="form-check-input" type="checkbox" [(ngModel)]="isSimulatingError" />
                                    Simulate Error
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            <div class="page-error-summary" *ngIf="isErrorSummaryShown(frmTop)">
                <div class="alert alert-danger rounded-0" role="alert">
                    <span class="fa fa-exclamation-circle"></span>
                    <strong>Validation Error!</strong>
                    Please correct the issues below to continue.
                </div>
            </div>
        </div>

        <div class="account-details">
            <core-panel iconClass="fa fa-id-card" title="Account Details" [status]="getPanelStatus(frmAccount)">
                <div ngModelGroup="frmAccount" #frmAccount="ngModelGroup" novalidate>
                    <div class="form-group row">
                        <label for="txtAccountName" class="col-xs-12 col-sm-3 col-md-2 col-form-label required">
                            Account Name
                        </label>
                        <div class="col-xs-12 col-sm-9 col-md-4">
                            <core-form-group [form]="frmTop" groupName="frmAccount" controlName="txtAccountName">
                                <input id="txtAccountName"
                                    name="txtAccountName"
                                    type="text"
                                    class="form-control"
                                    [(ngModel)]="account.name"
                                    required />
                            </core-form-group>
                        </div>
                        <label class="col-xs-12 col-sm-3 col-md-2 col-form-label">Created On</label>
                        <div class="col-xs-12 col-sm-9 col-md-4">
                            <p class="form-control-static">
                                {{account.createdOn | date: 'MM/dd/yyyy'}}
                            </p>
                        </div>
                    </div>
                </div>
            </core-panel>
        </div>

        <div class="address mb-2">
            <core-panel iconClass="fa fa-address-book" title="Contact Information" [status]="getPanelStatus(frmAddress)">
                <div ngModelGroup="frmAddress" #frmAddress="ngModelGroup" name="frmAddress" novalidate>
                    <div class="form-group row">
                        <label for="txtContactName" class="col-xs-12 col-sm-3 col-md-2 col-form-label required">Contact Name</label>
                        <div class="col-xs-12 col-sm-9 col-md-4">
                            <core-form-group [form]="frmTop" groupName="frmAddress" controlName="txtContactName">
                                <input id="txtContactName"
                                    name="txtContactName"
                                    type="text"
                                    class="form-control"
                                    [(ngModel)]="account.address.contactName"
                                    required />
                            </core-form-group>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="txtContactPhone" class="col-xs-12 col-sm-3 col-md-2 col-form-label">Contact Phone</label>
                        <div class="col-xs-12 col-sm-9 col-md-4">
                            <core-form-group [form]="frmTop" groupName="frmAddress" controlName="txtContactPhone">
                                <input id="txtContactPhone"
                                    name="txtContactPhone"
                                    type="text"
                                    class="form-control"
                                    [(ngModel)]="account.address.contactPhone"
                                    placeholder="ex.: (555) 555-5555" />
                            </core-form-group>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="txtContactEmail" class="col-xs-12 col-sm-3 col-md-2 col-form-label">Contact Email</label>
                        <div class="col-xs-12 col-sm-9 col-md-4">
                            <core-form-group [form]="frmTop" groupName="frmAddress" controlName="txtContactEmail">
                                <input id="txtContactEmail"
                                    name="txtContactEmail"
                                    type="text"
                                    class="form-control"
                                    [(ngModel)]="account.address.contactEmail"
                                    placeholder="ex.: jsmith@example.com"
                                    core-email-validator />
                            </core-form-group>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="txtStreet1" class="col-xs-12 col-sm-3 col-md-2 col-form-label required">Street 1</label>
                        <div class="col-xs-12 col-sm-9 col-md-4">
                            <core-form-group [form]="frmTop" groupName="frmAddress" controlName="txtStreet1">
                                <input id="txtStreet1"
                                    name="txtStreet1"
                                    type="text"
                                    class="form-control"
                                    [(ngModel)]="account.address.street1"
                                    required />
                            </core-form-group>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="txtStreet2" class="col-xs-12 col-sm-3 col-md-2 col-form-label">Street 2</label>
                        <div class="col-xs-12 col-sm-9 col-md-4">
                            <core-form-group [form]="frmTop" groupName="frmAddress" controlName="txtStreet2">
                                <input id="txtStreet2"
                                    name="txtStreet2"
                                    type="text"
                                    class="form-control"
                                    [(ngModel)]="account.address.street2" />
                            </core-form-group>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="txtStreet3" class="col-xs-12 col-sm-3 col-md-2 col-form-label">Street 3</label>
                        <div class="col-xs-12 col-sm-9 col-md-4">
                            <core-form-group [form]="frmTop" groupName="frmAddress" controlName="txtStreet3">
                                <input id="txtStreet3"
                                    name="txtStreet3"
                                    type="text"
                                    class="form-control"
                                    [(ngModel)]="account.address.street3" />
                            </core-form-group>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="txtCity" class="col-xs-12 col-sm-3 col-md-2 col-form-label required">City</label>
                        <div class="col-xs-12 col-sm-9 col-md-4">
                            <core-form-group [form]="frmTop" groupName="frmAddress" controlName="txtCity">
                                <input id="txtCity"
                                    name="txtCity"
                                    type="text"
                                    class="form-control"
                                    [(ngModel)]="account.address.city"
                                    required />
                            </core-form-group>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="txtState" class="col-xs-12 col-sm-3 col-md-2 col-form-label required">State</label>
                        <div class="col-xs-12 col-sm-9 col-md-2">
                            <core-form-group [form]="frmTop" groupName="frmAddress" controlName="txtState">
                                <select id="txtState"
                                    name="txtState"
                                    class="form-control"
                                    [(ngModel)]="account.address.state"
                                    required>
                                    <option value=""><em>Choose a state</em></option>
                                    <option *ngFor="let state of states" [value]="state.abbreviation">
                                        {{state.abbreviation}}
                                    </option>
                                </select>
                            </core-form-group>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="txtZipCode" class="col-xs-12 col-sm-3 col-md-2 col-form-label required">Zip</label>
                        <div class="col-xs-12 col-sm-9 col-md-2">
                            <core-form-group [form]="frmTop" groupName="frmAddress" controlName="txtZipCode">
                                <input id="txtZipCode"
                                    name="txtZipCode"
                                    type="text"
                                    class="form-control"
                                    [(ngModel)]="account.address.zip"
                                    required />
                            </core-form-group>
                        </div>
                    </div>
                </div>
            </core-panel>
        </div>


        <footer class="page-footer bg-primary text-white">
            <div class="row">
                <div class="col">
                    <a class="support-link" href="mailto:support@x.com">Need help?</a>
                </div>
                <div class="col">
                    <div class="pull-right">
                        <span class="app-version">v0.0.1</span>
                    </div>
                </div>
            </div>
        </footer>

    </div>
</form>
<core-spinner-modal #spinnerModal></core-spinner-modal>
<core-confirmation-modal #confirmationModal title="Confirm">
    {{confirmationMessage}}
</core-confirmation-modal>
<core-alert-modal #errorModal title="Error">
    <span class="error-message-icon fa fa-exclamation-triangle"></span> {{errorMessage}}
</core-alert-modal>