<core-routing-tabset outletName="tabs">
    <core-routing-tab title="Data Grid" [route]="['data-grid-demo']"></core-routing-tab>
    <core-routing-tab title="Panel" [route]="['panel-demo']"></core-routing-tab>
    <core-routing-tab title="Collapsible Panel" [route]="['collapsible-panel-demo']"></core-routing-tab>
    <core-routing-tab title="Date Picker" [route]="['date-picker-demo']"></core-routing-tab>
    <core-routing-tab title="Spinner" [route]="['spinner-demo']"></core-routing-tab>
    <core-routing-tab title="Modals" [route]="['modal-demo']"></core-routing-tab>
    <core-routing-tab title="Forms" [route]="['forms-demo']"></core-routing-tab>
</core-routing-tabset>